edge-tts
faster-whisper
soundfile 
librosa
langchain
langchain-community 
fastapi
langchain-google-genai
python-dotenv
tf-keras
pydantic
langgraph
tavily-python
numpy
uvicorn[standard]
yt-dlp
redis
langsmith
python-dotenv
huggingface_hub[hf_xet]
psycopg2
supabase
faiss-cpu
pypdf